// Цвета
$primary-color: var(--g-color-base-brand);
$secondary-color: var(--g-color-base-secondary);
$background-color: var(--g-color-base-background);
$text-color: var(--g-color-text-primary);
$text-secondary: var(--g-color-text-secondary);
$border-color: var(--g-color-line-generic);
$error-color: var(--g-color-base-danger);
$success-color: var(--g-color-base-positive);

// Отступы
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;

// Тени
$shadow-s: 0 1px 2px rgba(0, 0, 0, 0.1);
$shadow-m: 0 4px 8px rgba(0, 0, 0, 0.1);
$shadow-l: 0 8px 16px rgba(0, 0, 0, 0.1);

// Скругления
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 12px;

// Размеры шрифтов
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
