.attraction-card {
  @include card-style;
  // display: grid;
  grid-template-columns: 300px 1fr;
  gap: $spacing-m;
  margin-bottom: $spacing-m;

  &__header {
    position: absolute;

    .favorite-btn {
      .favorite-icon {
        &--isSelected {
          color: var(--g-color-base-brand);
          &:hover {
            color: var(--g-color-text-link-hover);
          }
        }

        &--noSelected {
          color: var(--g-color-base-brand);
          &:hover {
            color: var(--g-color-text-link-hover);
          }
        }
      }
    }
  }

  .gravity-ui-button {
    color: var(--g-color-base-warning);

    &--selected {
      color: var(--g-color-base-warning-heavy);
    }
  }

  &__image {
    height: 200px;
    border-radius: $border-radius-s;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    @include flex-column;
    gap: $spacing-s;
    margin-top: 4px;
  }

  &__meta {
    display: flex;
    gap: $spacing-l;
    color: $text-secondary;
    font-size: $font-size-s;
  }

  &__description {
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    gap: $spacing-s;
  }

  @include responsive("tablet") {
    grid-template-columns: 1fr;

    &__image {
      height: 150px;
    }
  }

  // Режим администатора

  &__edit-btn {
    width: 100%;
  }

  &__edit-btn {
    font-size: $font-size-s;
    margin-bottom: $spacing-s;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__controls {
    margin-top: $spacing-m;
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
  }

  &__edit-btn,
  &__delete-btn {
    width: 100%;
  }

  .favorite-active {
    color: var(--g-color-base-danger);
  }

  &--compact {
    padding: $spacing-s;
    gap: $spacing-xs;

    .attraction-card__controls {
      margin-top: $spacing-xs;
      gap: $spacing-xs;
    }
  }
}