.attraction-table {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  &__controls {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
    align-items: center;
    min-height: 30px;
  }

  &__counter {
    margin-bottom: 16px;
  }

  .gravity-ui-table {
    width: 100%;
  }
}

.g-table {
  overflow-x: auto;
}

.attraction-view {
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;

  // Кнопка скрыть и показать осмотренные

  .tooltip-content {
    padding: $spacing-xs;
    font-size: $font-size-s;
  }

  .status-btn {
    padding: $spacing-xs;

    &.planned {
      color: var(--g-color-base-warning);
    }
    &.visited {
      color: var(--g-color-base-positive);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  //

  &__search {
    display: flex;
    gap: 16px;
    flex: 1;
    min-width: 400px;
    align-items: center;

    Button {
      span {
        padding-left: 5px;
      }
    }
  }

  &__btn {
    background-color: transparent;
    border: 1px solid var(--g-color-line-generic);
  }

  &__icon {
    position: fixed;
    left: 4px;
    top: 6px;
  }

  // Выбор вида отображение контента

  &__view-toggle {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 8px 0 8px 0;

    span {
      margin-left: 4px;
      font-size: $font-size-xs;
    }
  }

  //

  &__counter {
    margin: 12px 0 4px 0;
  }

  .attraction-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 8px 0;
    overflow: auto;
  }

  @include responsive("tablet") {
    .attraction-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  @include responsive("mobile") {
    &__controls {
      flex-direction: column;
      align-items: stretch;
    }

    &__search {
      min-width: 100%;
    }

    .attraction-grid {
      grid-template-columns: 1fr;
    }
  }
}

.table-actions {
  display: flex;
  gap: $spacing-xs;
  justify-content: center;

  .gravity-ui-button {
    padding: $spacing-xs;
  }
}
